<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://todo-cosmos-db-test.documents.azure.com:443/" />
		<add key="PrimaryKey" value="mKTKU00o4DjTi3xZFhbrQaaEFG0Lpxu0ia3RgFC2WQdvRgCLc2TEQrX9WaI9kPcXa0MPsupaN7WbACDbmiUpDQ==" />
	</appSettings>
</configuration>
