@page "/"

<h1>Hello, world!</h1>

@if (Todos is { Count: > 0 })
{
    <ul>
        @foreach (var todo in Todos)
        {
            <li>
                @todo.Title
            </li>
        }
    </ul>
}

@code {
    private List<Todo>? Todos;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Todos = await HttpClient.GetFromJsonAsync<List<Todo>>("api/todos");
    }
}
